/*......resets .....*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Offside', cursive;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }



.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(black,rgb(29, 29, 29));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    display: flex;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    color: #fff;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;;
      text-align: left;
      z-index: 2;
      transition: 1s;

  }
 nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }

  .nav-links ul{
      padding: 30px;
  }
}


.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding:18px 0;}



/*------about us page------*/
.sub-header{
  height: 50vh;
  width: 100%;
  background: rgb(20, 20, 20);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  margin-bottom: 0;

}
.sub-header h1{
  margin-top: 50px;
}

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 15px;
  background: lightgray;
  border: 2px solid lightgray;
  margin-top: 0;
  border-radius: 10px;
}


.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding: 15px 0 25px;
}


/*------capture scores page--------*/

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

  /* Style for form input fields */
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


    /* Style for the submit button */
    .btn{
      background-color: orangered;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn a{
      text-decoration: none;
      color: inherit;
    }
  

    #result {
      margin-top: 20px;
      font-weight: bold;
    }

    .capture-body{
      background:#403D39;
    }

    #capture-nav{
      justify-content: end;
    }




    /*------confirm page------*/

    .mark-up{
      color: #fff;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .confirm-data {
      text-align: center;
      color: #fff;
    }